/* #F4F7F6 - #7D7781 - #999999 - #AE3D54 - #271C2D */

* {
    box-sizing: boder-box;
}

body {
    background-color: #271C2D;
}

.base {
    background-color: #271C2D;
    margin: auto;
    width: 100%;
    text-align: center;
    color: #7D7781;
}

header.base {
}

nav.base {
    background-color: #999999;
    width: 90%;
}

aside.base{
    border-style: solid;
}

main.base {
}

footer.base {
}

table.base {
    background-color: #999999;
}

tr.base {
    background-color: #F4F7F6;
}

th.base {
    background-color: #F4F7F6;
}

td.base {
    background-color: #F4F7F6;
}
