/* #F4F7F6 - #7D7781 - #999999 - #AE3D54 - #271C2D */

.col-1 {
    width: 15%;
}

.col-2 {
    width: 70%;
}

.col-3 {
    width: 15%;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid #AE3D54;
    margin: 5px;
}

[class*="row-"] {
    padding: 5px;
    margin: auto;
}

[class*="row-"]::after {
    content: "";
    clear: both;
    display: table;
}
